/* GameTitle.css */

.game-title {
    font-size: 3rem; /* Adjust the font size as needed */
    color: white; /* Set the font color to white */
    text-align: center; /* Align the text to the center */
    font-size: 8rem; /* Adjust the font size as needed */
    color: white; /* Set the font color to white */
    font-family: Techno Race Italic, Techno Race Italic; /* Set the font family */
    text-align: center; /* Align the text to the center */
    position: absolute; /* Position the title absolutely */
    top: 10%; /* Position it 50% from the top */
    left: 50%; /* Position it 50% from the left */
    transform: translate(-50%, -50%); /* Center the title horizontally and vertically */
  }
  