/* In App.css */
.login-container,
.signup-container {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Add transition for opacity */
}

/* Hide the container initially */
.login-container,
.signup-container {
  opacity: 0;
}

/* Show the container when active */
.login-container.active,
.signup-container.active {
  opacity: 1;

}
/* App.css */

/* App.css */
/* App.css */
.app-background {
    background-size: cover; /* Adjust the size to cover the entire container */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust the height of the container */
}

body {
    overflow: hidden; /* Hide both horizontal and vertical scrollbars */
  }
  



  

  
